<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>EAT DA BURGER</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
</head>

<body>
    {{{ body }}}
    <script src="/assets/jqueryburger.js"></script>
</body>

</html>