
<div id="container">
<div class="w3-container">
<div class="w3-animate-left" id="burgerimage"><img src="/assets/img/burger.jpg"></div>
</div>
<div>
<h1 id="burgertitle">BURGERS!!</h1>
</div>
<hr>

<ul>
    {{#each Burgers}} {{#unless this.devoured}}
    <li id="notdevoured">{{this.id}} {{this.burger_name}}</li> 
    
    
     {{/unless}} 
     
     {{/each}}
</ul>


<ul>
    {{#each Burgers}} {{#if devoured}} 
    {{/if}} 
    {{/each}}
</ul>

<h2 id="burgersubtitle">Add a Burger son</h2>

<div class="form-group">
        <form action="/api/burgers" method="POST">
            <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
            <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
        </form>
</div>
